<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">


<beans>
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:conf.properties</value>
            </list>
        </property>
    </bean>

    <bean id="mongoServers1" class="com.mongodb.ServerAddress">
        <constructor-arg value="${mongo.host}"/>
        <constructor-arg value="${mongo.port}"/>
    </bean>
    <bean id="mongo" class="com.mongodb.MongoClient">
        <description>Mongo pool</description>
        <constructor-arg type="java.util.List" >
            <list><ref bean="mongoServers1"/></list>
        </constructor-arg>
    </bean>
    <bean id="resourceProvider" class="org.canedata.provider.mongodb.MongoResourceProvider" singleton="true">
        <description>Mongo resource provider</description>
        <property name="mongo">
            <ref bean="mongo"/>
        </property>
        <property name="defaultDbName">
            <value>users</value>
        </property>
    </bean>
    <bean id="mongoProvider" class="org.canedata.provider.mongodb.MongoProvider">
        <description>EntityFactory by Mongo provider</description>
    </bean>
    <bean id="entityFactory"
          class="org.canedata.provider.mongodb.entity.MongoEntityFactory"
          factory-bean="mongoProvider" factory-method="getFactory" singleton="true">
        <description>Mongo entity factory provider</description>
        <constructor-arg type="java.lang.String" value="test"></constructor-arg>
        <constructor-arg ref="resourceProvider"></constructor-arg>
    </bean>

</beans>

